:host ::deep(.requests-grid::part(selected-row)),
:host ::deep(.requests-grid::part(selected-row-cell)) {
    background-color: var(--lumo-primary-color-30pct);
    color: var(--lumo-primary-text-color);
}

:host ::deep(.requests-grid::part(selected-row):hover),
:host ::deep(.requests-grid::part(selected-row-cell):hover) {
    background-color: var(--lumo-primary-color-40pct);
}

:host ::deep(.requests-export-button) {
    margin-left: auto;
}
